<div class="quizz__container">
    <div class="quizz_logo">
      <img src="assets/imgs/GAGFEED.png" alt="GAGFEED logo" />
      <h3>{{ title }}</h3>
    </div>
    @if (!finished) {
      <div class="quizz_questions">
        <h3>{{ selectedQuestion.question }}</h3>
      </div>
      @if (selectedQuestion.options.length > 0) {
        <div class="quizz_options">
          @for (option of selectedQuestion.options; track $index) {
            <ng-container>
              <button class="btn_option"
              (click)="playerChoose(option.alias)">
                {{ option.name }}
              </button>
            </ng-container>
          }
        </div>
      }
    }
    @else {
      <div class="quizz_results">
        <h3>O seu resultado é:</h3>
        <p>{{answerSeleceted}}</p>
      </div>
      <div class="footer">
        <button class="btn_footer"
              (click)="restart()">
                Try Again
        </button>
        <button class="btn_footer"
              (click)="nextGame()">
                Next game
        </button>
      </div>
    }
  </div>
  